@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tomes'R'Us!</h1>
    <p>Hello! This site is made to be a project for an ASP.Net class. It is a used bookstore in progress!</p>
    <p>Currently, it has a books section and an authors section.</p>
</div>
